<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.www.mapper.BlogMapper">
    <select id="selectBlog" resultType="Blog">
        select * from blog where id=#{id}
    </select>

    <select id="queryById" resultMap="blogResult">
        select * from blog where id=#{id}
    </select>

    <resultMap id="blogResult" type="Blog">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="createTime" column="create_time" javaType="java.util.Date" />
    </resultMap>
</mapper>