<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.www.mapper.UserMapper">
    <select id="queryById" resultMap="userResult" useCache="true">
        SELECT
            u.id              AS u_id,
            u.username        AS u_username,
            u.hashed_password AS u_hashed_password,
            a.province        AS a_province,
            a.city            AS a_city,
            a.detail          AS a_detail,
            b.id              AS b_id,
            b.u_id            AS b_u_id,
            b.title           AS b_title,
            b.content         AS b_content,
            b.create_time     AS b_create_time
        FROM user u, address a, blog b
        WHERE u.id = #{id} AND a.u_id = #{id} AND b.u_id = u.id
    </select>

    <resultMap id="userResult" type="User">
        <id property="id" column="u_id" />
        <result property="username" column="u_username" />
        <result property="hashedPassword" column="u_hashed_password" />
        <association property="address" javaType="Address">
            <result property="province" column="a_province" />
            <result property="city" column="a_city" />
            <result property="detail" column="a_detail" />
        </association>
        <collection property="blogList" ofType="Blog">
            <id property="id" column="b_id" />
            <result property="title" column="b_title" />
            <result property="content" column="b_content" />
            <result property="createTime" column="b_create_time" />
            <association property="user" javaType="User">
                <id property="id" column="b_u_id" />
            </association>
        </collection>
    </resultMap>

    <cache />
</mapper>